<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/meals/new.css" />
<%- include('../partials/nav') %>

<main>
	<h1><%= title %></h1>
    <select>
      <% meals.forEach(function(meal) { %>
        <option><%= meal.name %></option>
      <% }) %>
    </select>
  <form id="add-meals-form" action="/meals" method="POST">
    <label for="meal-input">Meal:</label>
    <input type="text" name="name" id="meal-input">
    <button type="submit">Add Meal</button>
  </form>
</main>

<%- include('../partials/footer') %>