<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/new.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form id="new-form" action="/flights/<%= flight._id %>?_method=PUT" method="POST">
    <label for="airline-select">Airline:</label>
    <select name="airline" id="airline-select">
      <option value="<%= flight.airline %>"><%= flight.airline %></option>
      <option value="American">American</option>
      <option value="Southwest">Southwest</option>
      <option value="United">United</option>
      </select>
    <label for="airport-select">Airport:</label>
    <select name="airport" id="airport-select">
      <option value="<%= flight.airport %>"><%= flight.airport %></option>
      <option value="AUS">AUS</option>
      <option value="DFW">DFW</option>
      <option value="DEN">DEN</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option>
    </select>
    <label for="flight-number-input" >Flight Number:</label>
    <input type="number" value='<%= flight.flightNo %>' name="flightNo" id="flight-number-input">
    <label for="departure-date-input">Departure Date:</label>
    <input type="datetime-local" name="departs" id="departure-date-input">
    <button type="submit">Update Flight</button>
  </form>
</main>

<%- include('../partials/footer') %>